.label-settings-warning {
    @extend .label-warning;
}

.settings-tab {
    color: $gray-900;
}

.settings-background {
    background-color: $bg-white;
}

.color-scheme-box {
    min-height: 40px;
}