image: golang:1.11

variables:
  PACKAGE_PATH: /go/src/autonomia.digital/tonio/app

stages:
  - build
  - check
  - deploy

  # A hack to make Golang-in-Gitlab happy
.anchors:
  - &install-deps
      apt-get update -qq
      && apt-get install build-essential libgtk-3-dev -qq
  - &inject-gopath
      mkdir -p $(dirname ${PACKAGE_PATH})
      && ln -s ${CI_PROJECT_DIR} ${PACKAGE_PATH}
      && cd ${PACKAGE_PATH}

build:
  stage: build
  before_script:
    - *install-deps
    - *inject-gopath
  script:
    - make deps
    - make build-ci
  artifacts:
    paths:
      - bin/tonio*

test:
  stage: check
  before_script:
    - *install-deps
    - *inject-gopath
  script:
    - make deps
    - make test

coverage:
  stage: check
  before_script:
    - *install-deps
    - *inject-gopath
  coverage: '/total:.*?(\d+\.\d+\%)/'
  script:
    - make deps
    - make cover-ci
  artifacts:
    paths:
      - coverage.html

quality:
  stage: check
  before_script:
    - *install-deps
    - *inject-gopath
  script:
    - make deps
    - make quality

deploy_staging:
  image: olabini/ssh_rsync:0.1
  stage: deploy
  before_script:
  - "eval $(ssh-agent -s)"
  - 'ssh-add <(echo "$DEPLOY_STAGING_SSH_PRIVATE_KEY")'
  - mkdir -p ~/.ssh; chmod 700 ~/.ssh
  - 'echo -e "[staging.tonio.app]:2326,[185.108.76.88]:2326 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEiKOqqE2wJo4OnAvgbCPLsnObcSJuoYQU0cW3QRMPqK4XHeo9RTxOE4jt+40Gy3wfzzo7q1fmUJ/QZrORcNI6Y=" >> ~/.ssh/known_hosts'
  - chmod 644 ~/.ssh/known_hosts
  environment:
    name: staging
    url: https://staging.tonio.app
  only:
    - master
  script:
   - 'ssh -p2326 tonio@staging.tonio.app rm -f /home/tonio/tmp/*'
   - 'scp -P2326 bin/tonio* tonio@staging.tonio.app:/home/tonio/tmp/'
   - 'ssh -p2326 tonio@staging.tonio.app /home/tonio/bin/publish-downloads.sh'

deploy_production:
  image: olabini/ssh_rsync:0.1
  stage: deploy
  before_script:
  - "eval $(ssh-agent -s)"
  - 'ssh-add <(echo "$DEPLOY_PRODUCTION_SSH_PRIVATE_KEY")'
  - mkdir -p ~/.ssh; chmod 700 ~/.ssh
  - 'echo -e "[tonio.app]:2387,[185.108.76.87]:2387 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBD7qdL4lFlIQwRU2h2fV6oIMBZl1ifd6bbcajd8iRYaFQfVvj7qxGvorfaBETyquGe+lk0xw3NrcJCfK1LvT2Wo=" >> ~/.ssh/known_hosts'
  - chmod 644 ~/.ssh/known_hosts
  environment:
    name: production
    url: https://tonio.app
  when: manual
  only:
    - master
  script:
   - 'ssh -p2387 tonio@tonio.app rm -f /home/tonio/tmp/*'
   - 'scp -P2387 bin/tonio* tonio@tonio.app:/home/tonio/tmp/'
   - 'ssh -p2387 tonio@tonio.app /home/tonio/bin/publish-downloads.sh'
