.box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.box-shadow-medium {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.box-shadow-large {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15); }

.box-shadow-extra-large {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.07); }

.box-shadow-none {
  box-shadow: none; }

.text-danger {
  color: #e53e3e; }

window {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #fff;
  font-size: 14px; }
  window .window-content {
    padding: 20px; }
  window .window-actions.bordered {
    border-top: 1px solid #e2e8f0; }
  window.light {
    background-color: #f7fafc; }
    window.light .window-actions.bordered {
      background-color: #fff; }

dialog {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #fff;
  font-size: 14px; }
  dialog .dialog-content {
    padding: 20px; }
  dialog .dialog-actions {
    padding: 20px; }
    dialog .dialog-actions.bordered {
      border-top: 1px solid #e2e8f0;
      background-color: #f7fafc; }
  dialog.light {
    background-color: #f7fafc; }
    dialog.light .window-actions.bordered {
      background-color: #fff; }

.form-control {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #1a202c;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px; }
  .form-control.append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .form-control:disabled {
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: none; }
  .form-control:not(:disabled):focus {
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.form-legend {
  margin-bottom: 20px; }

.form-legend-title {
  color: #000;
  font-size: 18px;
  font-weight: 600; }

.form-legend-content {
  border-top: 1px solid #f8fafc;
  margin-top: 10px;
  padding-top: 10px; }

.form-control-font {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #035cc2;
  font-size: 16px;
  border-radius: 4px;
  padding: 7.1428571429px 20px; }

.meeting-id-control {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  padding: 1rem; }

.btn, .main-window-top-bar .main-window-btn-settings,
.main-window-top-bar .main-window-btn-help, .main-window-actions .btn-host-meeting,
.main-window-actions .btn-join-meeting, .invite-email-link, .invite-window-btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0.25em; }
  .btn.append, .main-window-top-bar .append.main-window-btn-settings,
  .main-window-top-bar .append.main-window-btn-help, .main-window-actions .append.btn-host-meeting,
  .main-window-actions .append.btn-join-meeting, .append.invite-email-link, .append.invite-window-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0; }

.btn, .main-window-top-bar .main-window-btn-settings,
.main-window-top-bar .main-window-btn-help, .main-window-actions .btn-host-meeting,
.main-window-actions .btn-join-meeting, .invite-email-link, .invite-window-btn {
  color: #1a202c;
  background: #f0f5f9; }
  .btn:focus, .main-window-top-bar .main-window-btn-settings:focus,
  .main-window-top-bar .main-window-btn-help:focus, .main-window-actions .btn-host-meeting:focus,
  .main-window-actions .btn-join-meeting:focus, .invite-email-link:focus, .invite-window-btn:focus {
    box-shadow: 0 0 0 0.2em rgba(66, 153, 225, 0.3); }
  .btn:hover, .main-window-top-bar .main-window-btn-settings:hover,
  .main-window-top-bar .main-window-btn-help:hover, .main-window-actions .btn-host-meeting:hover,
  .main-window-actions .btn-join-meeting:hover, .invite-email-link:hover, .invite-window-btn:hover {
    background-color: #e4eef5;
    border-color: rgba(0, 0, 0, 0.35); }
  .btn:active, .main-window-top-bar .main-window-btn-settings:active,
  .main-window-top-bar .main-window-btn-help:active, .main-window-actions .btn-host-meeting:active,
  .main-window-actions .btn-join-meeting:active, .invite-email-link:active, .invite-window-btn:active {
    background-color: #e9ecef;
    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn:checked, .main-window-top-bar .main-window-btn-settings:checked,
  .main-window-top-bar .main-window-btn-help:checked, .main-window-actions .btn-host-meeting:checked,
  .main-window-actions .btn-join-meeting:checked, .invite-email-link:checked, .invite-window-btn:checked {
    background-color: #e9ecef;
    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 0.3em 0.5em rgba(0, 0, 0, 0.3); }
  .btn:disabled, .main-window-top-bar .main-window-btn-settings:disabled,
  .main-window-top-bar .main-window-btn-help:disabled, .main-window-actions .btn-host-meeting:disabled,
  .main-window-actions .btn-join-meeting:disabled, .invite-email-link:disabled, .invite-window-btn:disabled {
    color: rgba(26, 32, 44, 0.4);
    background-color: #f0f5f9;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: none; }

.btn-primary, .main-window-actions .btn-host-meeting {
  color: #fff;
  background: #4299e1;
  border-color: #4299e1; }
  .btn-primary:focus, .main-window-actions .btn-host-meeting:focus {
    box-shadow: 0 0 0 0.2em rgba(66, 153, 225, 0.4); }
  .btn-primary:hover, .main-window-actions .btn-host-meeting:hover {
    background-color: #3994e0;
    border-color: #3994e0; }
  .btn-primary:active, .main-window-actions .btn-host-meeting:active {
    background-color: #2388dc;
    border-color: #3994e0;
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn-primary:disabled, .main-window-actions .btn-host-meeting:disabled {
    color: rgba(255, 255, 255, 0.65);
    background-color: #a1ccf0;
    border-color: transparent;
    box-shadow: none; }

.btn-secondary, .main-window-actions .btn-join-meeting {
  color: #fff;
  background: #38a169;
  border-color: #38a169; }
  .btn-secondary:focus, .main-window-actions .btn-join-meeting:focus {
    box-shadow: 0 0 0 0.2em rgba(72, 187, 120, 0.4); }
  .btn-secondary:hover, .main-window-actions .btn-join-meeting:hover {
    background-color: #359964;
    border-color: #359964; }
  .btn-secondary:active, .main-window-actions .btn-join-meeting:active {
    background-color: #369460;
    border-color: #359964;
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn-secondary:disabled, .main-window-actions .btn-join-meeting:disabled {
    color: rgba(255, 255, 255, 0.65);
    background-color: #9cd0b4;
    border-color: transparent;
    box-shadow: none; }

.btn-blue {
  color: #fff;
  background: #3994e0;
  border-color: #3994e0; }
  .btn-blue:focus {
    box-shadow: 0 0 0 0.2em rgba(101, 172, 231, 0.4); }
  .btn-blue:hover {
    background-color: #308fde;
    border-color: #308fde; }
  .btn-blue:active {
    background-color: #308fdf;
    border-color: #308fde;
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn-blue:disabled {
    color: rgba(255, 255, 255, 0.65);
    background-color: #9ccaf0;
    border-color: transparent;
    box-shadow: none; }

.btn-danger {
  color: #e53e3e;
  background-color: #fafbfc; }
  .btn-danger:focus {
    box-shadow: 0 0 0 0.2em rgba(229, 62, 62, 0.4); }
  .btn-danger:hover {
    color: #fff;
    background-color: #e53e3e;
    border-color: rgba(0, 0, 0, 0.5); }
  .btn-danger:active {
    color: #fff;
    background-color: #e22828;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn-danger:disabled {
    color: rgba(229, 62, 62, 0.4);
    background-color: #f0f5f9;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: none; }

.btn-orange {
  color: #fff;
  background: #d4671f;
  border-color: #d4671f; }
  .btn-orange:focus {
    box-shadow: 0 0 0 0.2em rgba(221, 107, 32, 0.4); }
  .btn-orange:hover {
    background-color: #cb621d;
    border-color: #cb621d; }
  .btn-orange:active {
    background-color: #ba5a1b;
    border-color: #cb621d;
    box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
  .btn-orange:disabled {
    color: rgba(255, 255, 255, 0.65);
    background-color: #eab38f;
    border-color: transparent;
    box-shadow: none; }

.btn-outline {
  color: #4299e1;
  background-color: #fff; }
  .btn-outline:hover, .btn-outline:active {
    color: #fff;
    background-color: #4299e1;
    border-color: #4299e1; }
  .btn-outline:focus {
    border-color: #4299e1;
    box-shadow: 0 0 0 0.2em rgba(66, 153, 225, 0.4); }
  .btn-outline:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: none; }

.btn-lg, .main-window-actions .btn-host-meeting,
.main-window-actions .btn-join-meeting {
  border-radius: 0.2em;
  padding: 15px 20px;
  font-size: 18px; }

.btn-md {
  border-radius: 0.2em;
  padding: 12px 25px;
  font-size: 16px; }

.btn-sm, .main-window-top-bar .main-window-btn-settings,
.main-window-top-bar .main-window-btn-help {
  border-radius: 0.1em;
  padding: 8px 18px;
  font-size: 12px; }

.btn-large {
  padding: 0.75em 1.25em;
  font-size: inherit;
  border-radius: 6px; }

.btn-invisible, .main-window-status-bar .status-show-errors {
  color: #4299e1;
  background: none;
  border-width: 0;
  border-color: transparent;
  box-shadow: none; }
  .btn-invisible:hover, .main-window-status-bar .status-show-errors:hover, .btn-invisible:active, .main-window-status-bar .status-show-errors:active, .btn-invisible:focus, .main-window-status-bar .status-show-errors:focus {
    color: #4299e1;
    background: none;
    box-shadow: none; }

.btn-link {
  padding-left: 0;
  padding-right: 0; }

label, .label, .label-success, .label-warning, .label-settings-warning {
  font-size: 18px; }

label.control-label {
  color: #000;
  font-weight: 500;
  margin-bottom: 10px; }
label.control-help {
  color: #4a5568;
  font-size: 14px; }
label.label-text {
  font-size: 14px; }

.label-checkbox {
  color: #000; }

.label, .label-success, .label-warning, .label-settings-warning {
  padding: 13.3333333333px 20px; }

.label-title {
  font-size: 18px;
  font-weight: 600; }

.label-text {
  font-size: 16px; }

.label-success {
  color: #735c0f;
  background-color: #fff5b1; }

.label-warning, .label-settings-warning {
  color: #742a2a;
  background-color: #fff5f5; }

.main-window-top-bar {
  background-color: #f7fafc;
  border-bottom: 1px solid #e2e8f0; }
  .main-window-top-bar .main-window-title {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600; }
  .main-window-top-bar .main-window-btn-settings,
  .main-window-top-bar .main-window-btn-help {
    border-radius: 10em;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
    .main-window-top-bar .main-window-btn-settings:hover,
    .main-window-top-bar .main-window-btn-help:hover {
      color: #1a202c;
      background-color: #edf2f7; }

.main-window-actions {
  padding: 20px; }
  .main-window-actions .btn-host-meeting,
  .main-window-actions .btn-join-meeting {
    text-shadow: none;
    font-size: 18.36px; }
    .main-window-actions .btn-host-meeting label,
    .main-window-actions .btn-join-meeting label {
      font-size: 18px;
      font-weight: 500; }

.main-window-status-bar {
  color: #edf2f7;
  border-width: 0;
  background-color: #1a202c;
  background-image: linear-gradient(-180deg, #141922 0%, black 90%); }
  .main-window-status-bar.error {
    background-color: #742a2a;
    background-image: linear-gradient(-180deg, #f45757 0%, #692626 90%); }
  .main-window-status-bar .status-label {
    font-size: 16px; }
  .main-window-status-bar .status-show-errors {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10em;
    border: 2px solid rgba(255, 255, 255, 0.1); }
    .main-window-status-bar .status-show-errors:hover {
      color: #fff;
      background: #9b2c2c;
      border-color: #9b2c2c; }

.help-content {
  padding: 20px; }

.help-title, .help-primary {
  font-size: 20px; }

.help-primary {
  font-weight: 600;
  font-size: 20px; }

.help-text {
  font-size: 16px; }

.loading-window {
  color: #000;
  background-color: #fff;
  font-size: 16px; }

.invite-email-link {
  border-radius: 100%;
  padding: 0; }

.invite-window-bottom {
  padding: 20px;
  border-top: 1px solid #edf2f7; }

.invite-window-btn {
  padding-left: 20px;
  padding-right: 20px; }

.host-meeting-toolbar {
  background-color: #48bb78;
  padding: 20px;
  font-size: 18px;
  color: #fff; }

.meeting-id-control {
  background-color: #fff;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  padding: 1rem; }

window.meeting-controls {
  border-radius: 2px; }
  window.meeting-controls .control-leave-call, window.meeting-controls .control-finish-call {
    padding: 20px;
    font-size: 21px;
    font-weight: 600;
    border-radius: 6px;
    border-width: 0; }
  window.meeting-controls .control-leave-call {
    color: #fff;
    background: #9c4221;
    border-color: #9c4221; }
    window.meeting-controls .control-leave-call:focus {
      box-shadow: 0 0 0 0.2em rgba(221, 107, 32, 0.4); }
    window.meeting-controls .control-leave-call:hover {
      background-color: #943e1f;
      border-color: #943e1f; }
    window.meeting-controls .control-leave-call:active {
      background-color: #9f491c;
      border-color: #943e1f;
      box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
    window.meeting-controls .control-leave-call:disabled {
      color: rgba(255, 255, 255, 0.65);
      background-color: #cea190;
      border-color: transparent;
      box-shadow: none; }
  window.meeting-controls .control-finish-call {
    color: #fff;
    background: #9b2c2c;
    border-color: #9b2c2c; }
    window.meeting-controls .control-finish-call:focus {
      box-shadow: 0 0 0 0.2em rgba(229, 62, 62, 0.4); }
    window.meeting-controls .control-finish-call:hover {
      background-color: #932a2a;
      border-color: #932a2a; }
    window.meeting-controls .control-finish-call:active {
      background-color: #a42d2d;
      border-color: #932a2a;
      box-shadow: inset 0 0.15em 0.3em rgba(0, 0, 0, 0.15); }
    window.meeting-controls .control-finish-call:disabled {
      color: rgba(255, 255, 255, 0.65);
      background-color: #cd9696;
      border-color: transparent;
      box-shadow: none; }

/*# sourceMappingURL=gui.css.map */
