.form-control {
  background-color: $white;
  border: 1px solid rgba($black, 0.3);
  box-shadow: inset 0 2px 2px rgba($black, 0.1);
  font-size: 18px;
  border-radius: 4px;
  padding: $spacing/2 $spacing;

  &.append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:disabled {
    border-color: rgba($black, 0.2);
    box-shadow: none;
  }

  &:not(:disabled) {
    &:focus {
      border-color: rgba($black, 0.4);
      box-shadow: 0 2px 3px rgba($black, 0.2);
    }
  }
}
