%label {
  font-size: $font-size-large * 1.02;
}

label {
  @extend %label;

  &.control-label {
    color: $text-black;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing/2;
  }

  &.control-help {
    color: $gray-600;
    font-size: $font-size-normal;
  }

  &.label-text {
    font-size: $font-size-normal;
  }
}

.label-checkbox {
  color: $text-black;
}

.label {
  padding: $spacing/1.5 $spacing;

  @extend %label;
}

.label-title {
  font-size: $font-size-large * 1.2;
  font-weight: $font-weight-bold;
  color: $text-black;
}

.label-text {
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  color: $gray-700;
}

.label-success {
  color: $green-900;
  background: $green-200;
  font-weight: $font-weight-semibold;

  @extend .label;
}

.label-warning {
  color: $red-900;
  background: $red-200;
  font-weight: $font-weight-semibold;

  @extend .label;
}

.label-bold {
  color: $gray-900;
  font-weight: $font-weight-bold;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 20px;
}

.label-value {
  color: $gray-700;
  font-weight: $font-weight-normal;
  padding-top: 1px;
  padding-bottom: 1px;
}
