%label {
  font-size: $font-size-large;
}

label {
  @extend %label;

  &.control-label {
    color: $text-black;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing/2;
  }

  &.control-help {
    color: $gray-700;
    font-size: $font-size-normal;
  }

  &.label-text {
    font-size: $font-size-normal;
  }
}

.label-checkbox {
  color: $text-black;
}

.label {
  padding: $spacing/1.5 $spacing;

  @extend %label;
}

.label-title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.label-text {
  font-size: $font-size-medium;
}

.label-success {
  color: $yellow-900;
  background-color: $yellow-200;

  @extend .label;
}

.label-warning {
  color: $red-900;
  background-color: $red-100;

  @extend .label;
}
