label {
  &.control-label {
    color: $text-black;
    font-weight: $font-weight-bold;
  }

  &.label-success {
    font-size: $font-size-medium;
    color: $yellow-900;
    background-color: $yellow-200;
    padding: $spacing/1.5 $spacing;
  }

  &.label-text {
    font-size: $font-size-medium;
  }
}
