.help-content {
    padding: $spacing;
}

.help-title {
    font-size: $h3-size;
}

.help-primary {
    font-weight: $font-weight-bold;
    font-size: $h3-size;

    @extend .help-title;
}

.help-text {
    font-size: $font-size-medium;
}